.clearer {
	line-height: 1px;
	height: 1px;
	clear: both;
	display:block;
}

.box {
    margin-top: 10px;
}
.box .headline {
    border: 1px solid #666;
    padding: 1px 1px 1px 5px;
    background: #888;
    color: white;
    margin-bottom: 3px;
}
.box .content {
    border: 1px solid #666;
    padding: 1px 1px 1px 5px;
    background: white;
}

.info, .tag {
	padding: 2px 4px;
	background: white;
}
.info {
	width:47%;
	float:left;
    padding:2px 10px;
}
.tag {border: 1px solid black; margin-left:2px;}

.summary {
	padding:0px 0px 10px 0px;
	margin-top: 40px;
	background: #f7f7f7;
    border: 1px solid #d7d7d7;
}
.summary .title {
	font-size: 120%;
	font-weight: bold;
	display:block;
    background:#585858;
    color:white;
    padding:6px 12px;
}
.summary .leftcol {
	float: left;
}
.summary .rightcol {
	float: right;
	text-align: left;
}
.summary .box {margin-left:10px; margin-right:10px;}
.infolabel {
	font-weight: bold;
}
.value {
	text-align: left;
}

.reindex-button,
a.index-button:hover,
.index-button {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: green;
	padding: 5px;
	width: 250px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: white
}

a.index-button:hover {
	background: darkgreen;
    
}

.reindex-button {
	margin-top: 20px;
}

a.lock-button:hover,
.lock-button {
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: red;
	padding: 5px;
	width: 250px;
	display: block;
	text-align: center;
	font-weight: bold;
	color: white
}

a.lock-button:hover {
	background: #d60008;
}

table.statistics {
	padding: 10px;
	margin-top: 20px;
	background: white;
	border-spacing: 0;
    font-size:12px;
}

table.statistics th {
	background: #666;
	color: white;
	padding: 6px;
    text-align: left;
}

table.statistics td {
	padding: 6px;
    text-align: left;
}

table.statistics td.even {
	background: #CCC;
}

table.statistics td.odd {
	background: white;
}

.error {
	font-weight: bold;
	color: red;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid red;
	padding: 10px;
	margin-top: 10px;
	background: white;
}